body{
    background-color: #3e2723;
    color: white;
}

header{
    background-color: #ff7043;
    color: white;
    text-align: center;
    padding: 20px;
}

.conteiner{
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.img_bolo{
    width: 100%;
    max-width: 300px;
    object-fit: cover;
    border-radius: 12px;
}

h2{
    margin-top: 15px;
}
.info{
    display: flex;
    gap: 15px;
    margin: 10px 0;
    font-weight: bold;
}
.card{
    flex: 1;
    background: #ff7043;
    padding: 20px;
    border-radius: 12px;
}

ul, ol{
    padding-left: 20px;
}
a{
    display:inline-block;
    margin-top:15px;
    background-color:white;
    color:black;
    padding:12px 25px;
    border-radius:20px;
    text-decoration:none;
    font-weight:bold;

}
