body{
    background-color: #f8c7ce;  
}

.conteiner{
    max-width: 900px;
    margin: auto;
    padding: 20px;
}
.info {
    display: flex;
    gap: 15px;
    margin: 10px 0;
    font-weight: bold;
}
.img_macarrao{
    width: 100%;
    max-width: 300px;
    object-fit: cover;
    border-radius: 12px;
}
h2{
    margin-top: 15px;
}
.card{
    flex: 1;
    background: #fff8f0;
    padding: 20px;
    border-radius: 12px;
}
ul, ol{
    padding-left: 20px;
}
header{
    background-color: #ff7043;
    color: #d32f2f  ;
    text-align: center;
    padding: 20px;
}
.card{
    background: wheat;
}
a{
    display:inline-block;
    margin-top:15px;
    background-color:white;
    color:black;
    padding:12px 25px;
    border-radius:20px;
    text-decoration:none;
    font-weight:bold;

}