body{
    background-color:  #E5D3B3;
}
header{
    background-color: #DAA520;
    color: black;
    text-align: center;
    padding: 20px;
}
.conteiner{
    max-width: 900px;
    margin: auto;
    padding: 20px;
}
.img{
    width: 100%;
    max-width: 300px;
    object-fit: cover;
    border-radius: 12px;
}
h2{
    margin-top: 15px;
}
.info{
    display: flex;
    gap: 15px;
    margin: 10px 0;
    font-weight: bold;
}
.card{
    flex: 1;
    color: #4B3621;
    background:  #FFD700;
    padding: 20px;
    border-radius: 12px;
}
ul, ol{
    padding-left: 20px;
}
a{
    display:inline-block;
    margin-top:15px;
    background-color:#FFFFFF;
    color:#DAA520;
    padding:12px 25px;
    border-radius:20px;
    text-decoration:none;
    font-weight:bold;

}
